/* For information on how to create your own theme, please see:
http://ionicframework.com/docs/theming/ */

#container {
  text-align: center;
  
  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container p {
  font-size: 16px;
  line-height: 22px;
  
  color: #ffffff;
  
  margin: 0;
}

#container a {
  text-decoration: none;
}


.card-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 10px;
}
ion-card {
  --background: #000000;
  border-radius: 10px;
}
ion-card-title {
  font-size: 16px;
  font-weight: bold;
}
ion-card-content {
  font-size: 14px;
  color: #ff69b4;
  
}

